<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/johnyvinothxavier/Johny/JavaProjects/TestJavaProject">
        <parameter name="TestParam" value="TestingParam"></parameter>
        <classes>
            <class name="Test1"></class>
        </classes>
    </test>
</suite>